# Archivo de ejemplo, no contiene datos reales
PRIVATE_KEY=clave_privada_123
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
FAUCET_CONTRACT=0x3e2117c19a921507ead57494bbf29032f33c7412
JWT_SECRET=clave_secreta_123_jwt
