# Archivo de ejemplo, no contiene datos reales

# Clave privada de la wallet (NO SUBIR TU CLAVE REAL)
# PRIVATE_KEY=tu_clave_privada_aqui

# RPC endpoint para Sepolia (Infura, Alchemy u otro proveedor)
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Dirección del contrato Faucet
FAUCET_ADDRESS=0x3e2117c19a921507ead57494bbf29032f33c7412

# Secreto para JWT (solo si usás autenticación)
JWT_SECRET=clave_secreta_123_jwt

# Opcional: para login con Ethereum
DOMAIN=localhost
APP_URI=http://localhost:5173
